.player{
    // background:rgb(176, 231, 176);
    min-height: 20vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.time-control{
    width:50%;
    // background:lightcoral;
    display:flex;
    flex-direction: row;

    input{
        width:100%;
        padding:1rem 0rem;
    }

    p{
        padding:1rem;
    }
}

.play-control{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:50%;
    padding :1rem;
    svg{
        cursor: pointer;
    }

}